body {
    font-family: 'ravie', Arial Black;
	font-weight: 300;
    font-size: 16px;
    margin: 5px;
    background-color: white;

}


p{
color:white;
}

h6{
margin-right: 55px;
margin-left: 56px;
}

h2{
color:steelblue;
}

a
{
    text-decoration: none;
}

b
{
    color:steelblue;
}

h5{

font-family: 'roboto', Consolas;
padding:25px;
color:steelblue;
font-size:14px;
height: auto;
}

.search
{
margin-left: 1000px;

}

.navbar{
    background: deepskyblue;
    width: 1250px;
    border-radius: 0px;
    width: auto;
    text-align:left;
    height: 100px;
    left: 0px;
    top: 0px;
    border-top: 43px solid lightblue;    
}

.navbar-menu{
    background: steelblue;
    width: 1250px;
    border-radius: 0px;
    margin-bottom: 30px;
    width: auto;
    text-align:left;
    height: 50px;
    left: 0px;
    top: 0px;	
}

.input{

  float:right;
  margin-top:30px;
}
.breeds {

  width: auto;
  height: auto;
  font-family: 'roboto', Consolas;
padding:25px;
color:steelblue;
font-size:14px;
height: auto;

  }

  .dogbreedpics
  {
 height: 200px;
  width: 129px;
  margin: 3px;
  margin-top: 10px;
  }

.header-zontal{
padding-left:80px;
padding-top:32px;
font-size:20px;
float:left;
color:white;
}

.separator
{
    margin-left: 50px;
}

.header-email{
padding-left: 906px;
padding-top: 15px;
font-size: 14px;
float: left;
color: white;
}

.header-admin{
padding-top: 60px;
font-size: 16px;
float: left;
color: white;
}

section{
margin:100px;

}
article{
border-radius: 51px;
background: rgba(0, 180, 180, 0.2);
border:1px;
font-family: 'roboto', Consolas;
padding: 25px;
color: steelblue;
font-size: 14px;
height: auto;

}

.buyercontent
{
border-radius: 51px;
  background: rgba(0, 180, 180, 0.2);
  border: 1px;
  font-family: 'roboto', Consolas;
  padding: 25px;
  color: steelblue;
  font-size: 14px;
  height: auto;
  width: 317px;

  }

.box1{
float: left;
border: 1px solid #BDB76B;
background: #BDB76B;
height: auto;
width: 241px;
border-radius: 5px;
margin-right: 20px;
margin-bottom: 40px;
font-size: 13px;
font-style:bold;
color: white;
padding-bottom: 18px;
}

.box2{
float: left;
border: 1px solid #FA8072;
background: #FA8072;
height: auto;
width: 241px;
border-radius: 5px;
margin-right: 20px;
margin-top: 0px;
margin-bottom: 40px;
font-size: 13px;
font-style:bold;
color: white;
padding-bottom: 18px;
}

.box3{
float: left;
border: 1px solid #20B2AA;
background:#20B2AA;
height: auto;
width: 241px;
border-radius: 5px;
margin-right: 20px;
margin-top: 0px;
margin-bottom: 40px;
font-size: 13px;
font-style:bold;
color: white;
padding-bottom: 18px;
}

.box4{
float: left;
border: 1px solid #9932CC;
background:#9932CC;
height: auto;
width: 241px;
border-radius: 5px;
margin-right: 20px;
margin-top: 0px;
margin-bottom: 40px;
font-size: 13px;
font-style:bold;
color: white;
padding-bottom: 18px;
}

.icon1
{
border: 3px solid white;
border-radius: 71px;
width: 105px;
height: 105px;
margin-top: 10px;

}



.navbar-menu ul{
list-style: none;
margin: 0 auto;

}

.navbar-menu ul li{

text-align: left;
display: inline;
}

.navbar-menu ul li a{
    color: #F6CEEC;
}
 

.navbar-menu a:link{
font-weight: 500;
display: inline-block;
height: 17px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top: 0px solid #CD5C5C;

}

#active
{

border-top-left-radius: 100px;
border-top-right-radius: 100px;
background: white;
color: steelblue;
font-size: 16px;
height: 50px;
        
}

#active2
{
  border-radius: 100px;
  background: white;
  color: steelblue;
  font-size: 16px;
  height: 50px;
}

.footer{

  width: 100%;
  height: 216px;
  color: white;
  margin: 0;
  background: deepskyblue;
  border-top: 50px solid steelblue;

}
.footer-div{
    height:100px;
    width: 350px;
    margin-left: 70px;
    margin-top: 20px;
    float: left;
    padding: 10px;

}

.footer p{
    padding: 5px;
    font-size: 15px;
}
.footest p{
    padding: 80px;
    font-size: 12px;
}

a:hover{
text-decoration:overline;
color:steelblue;

}

input[type=text]
{
    height: 30px;
    width: 300px;
    border-radius: 10px;
}

input[type=text]:focus
{
    height: 40px;
    width: 300px;
    border-radius: 10px;
}